# Normalizar automáticamente los finales de línea para todos los archivos de texto.
* text=auto
# Especificar archivos específicos para normalizar
*.cs text
*.csproj text
*.config text
*.xml text
*.json text
*.css text
*.html text
*.js text
*.md text
*.txt text
packages/Stimulsoft.Reports.Engine.2024.3.3/Stimulsoft.Reports.Engine.2024.3.3.nupkg filter=lfs diff=lfs merge=lfs -text
