body {
    background: linear-gradient(to right, rgb(225, 239, 220), rgb(190, 220, 180), rgb(165, 206, 151));
}
.nav-link {
    color: white;
    border-radius: 15px;
}

    .nav-link:hover {
        background-color: green;
        color: white;
    }

.sidebar-sticky {
    padding-top: 20px;
}

.nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}